  
# This is a basic workflow to help you get started with Actions

name: RunScript

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
 schedule: 
  - cron: "45 09 * * *"

jobs:
  runscript:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: r-lib/actions/setup-r@v1
        with:
          r-version: '3.5.3'
      - run: sudo apt-get install -y libxml2-dev libcurl4-openssl-dev libssl-dev
      - run: Rscript /home/runner/work/Parametric-Modeling-for-Time-Varying-Reproducibility-Number/Parametric-Modeling-for-Time-Varying-Reproducibility-Number/parametricbyState.R
      - run: |
          git config --global user.name 'nick3703'
          git config --global user.email 'nicholasjsclark@gmail.com'
          git add *
          git commit -am "Automated Push"
          git push

